@font-face {
	font-family: 'SF Pro Display';
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/SF Pro Display Regular.woff2") format("woff2"), url("../fonts/SF Pro Display Regular.woff") format("woff");
}

@font-face {
	font-family: 'SF Pro Display';
	font-display: swap;
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/SF Pro Display Medium.woff2") format("woff2"), url("../fonts/SF Pro Display Medium.woff") format("woff");
}

@font-face {
	font-family: 'SF Pro Display';
	font-display: swap;
	font-weight: 600;
	font-style: normal;
	src: url("../fonts/SF Pro Display Semibold.woff2") format("woff2"), url("../fonts/SF Pro Display Semibold.woff") format("woff");
}

@font-face {
	font-family: 'SF Pro Display';
	font-display: swap;
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/SF Pro Display Bold.woff2") format("woff2"), url("../fonts/SF Pro Display Bold.woff") format("woff");
}

@font-face {
	font-family: 'SF Pro Display';
	font-display: swap;
	font-weight: 700;
	font-style: italic;
	src: url("../fonts/SF Pro Display Bold Italic.woff2") format("woff2"), url("../fonts/SF Pro Display Bold Italic.woff") format("woff");
}

@font-face {
	font-family: 'SF Pro Display';
	font-display: swap;
	font-weight: 900;
	font-style: italic;
	src: url("../fonts/SF Pro Display Heavy Italic.woff2") format("woff2"), url("../fonts/SF Pro Display Heavy Italic.woff") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-display: swap;
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
}