:root {
	--yellow: #fce800;
	--black: #111;
	--pink: #fd67d6;
	--pink-light: #ff82e0;
	--white: #fff;

	--font-family: "SF Pro Display", sans-serif;
	--second-family: "Inter", sans-serif;
}

@font-face {
	font-family: 'SF Pro Display';
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/SF Pro Display Regular.woff2") format("woff2"), url("../fonts/SF Pro Display Regular.woff") format("woff");
}

@font-face {
	font-family: 'SF Pro Display';
	font-display: swap;
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/SF Pro Display Medium.woff2") format("woff2"), url("../fonts/SF Pro Display Medium.woff") format("woff");
}

@font-face {
	font-family: 'SF Pro Display';
	font-display: swap;
	font-weight: 600;
	font-style: normal;
	src: url("../fonts/SF Pro Display Semibold.woff2") format("woff2"), url("../fonts/SF Pro Display Semibold.woff") format("woff");
}

@font-face {
	font-family: 'SF Pro Display';
	font-display: swap;
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/SF Pro Display Bold.woff2") format("woff2"), url("../fonts/SF Pro Display Bold.woff") format("woff");
}

@font-face {
	font-family: 'SF Pro Display';
	font-display: swap;
	font-weight: 700;
	font-style: italic;
	src: url("../fonts/SF Pro Display Bold Italic.woff2") format("woff2"), url("../fonts/SF Pro Display Bold Italic.woff") format("woff");
}

@font-face {
	font-family: 'SF Pro Display';
	font-display: swap;
	font-weight: 900;
	font-style: italic;
	src: url("../fonts/SF Pro Display Heavy Italic.woff2") format("woff2"), url("../fonts/SF Pro Display Heavy Italic.woff") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-display: swap;
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: var(--font-family);
	background: #F7F7F7;
	min-width: 320px;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

button {
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.site-text {
	max-width: clamp(21.438rem, 19.347vw + 16.903rem, 36.25rem);
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: var(--black);
}

.title-pink {
	color: var(--pink);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.site-button {
	border-radius: 12px;
	padding: 16px 32px;
	background: var(--pink);
	font-weight: 500;
	font-size: 16px;
	color: var(--white);
	transition: background 0.3s;
}

@media (hover: hover) {
	.site-button:hover {
		background: var(--pink-light);
	}
}

.container {
	padding: 0 clamp(1rem, 2.776vw + 0.349rem, 3.125rem);
	max-width: 1280px;
	margin: 0 auto;
}

/* HEADER */

.header {
	background: var(--white);
}

.header__wrapper {
	display: flex;
	align-items: center;
	padding: 20px 0;
}

.logo {
	margin-right: 32px;
}

.logo__image {
	max-width: none;
}

.header__box {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.header__nav {
	flex: 1;
	display: flex;
	align-items: center;
}

.header__nav::after {
	content: '';
	display: block;
	height: 2px;
	background-color: #dadada;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
}

.header__list {
	display: flex;
	flex: 1 0 auto;
	gap: 8px;
}

.header__link {
	display: block;
	border-radius: 12px;
	padding: 16px 20px;
	font-weight: 500;
	font-size: 18px;
	color: var(--black);
	transition: background 0.3s, color 0.3s;
}

.burger-menu {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 7px;
	width: 48px;
	height: 48px;

	border-radius: 8px;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin-left: auto;
}

.burger-menu__line {
	border-radius: 50%;
	width: 18px;
	height: 2px;
	background-color: var(--white);
	transition: transform 0.3s, opacity 0.3s;
}

@media (hover: hover) {
	.header__link:hover {
		background: rgba(255, 130, 224, 0.2);
		color: var(--pink);
	}
}

.header-mobile__footer {
	display: none;
}


.header-mobile__footer-copyright {
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	text-transform: capitalize;
	color: var(--white);
	opacity: 0.5;
}


@media (max-width: 768px) {

	.header__box {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		position: absolute;
		width: 100%;
		padding: 20px 16px 0;
		min-height: calc(100dvh - 89px);
		left: 0;
		top: 90px;
		background: #F0F0F0;

		transform: translateX(-100%);
		transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

		pointer-events: none;
		opacity: 0;
		transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
			opacity 0.3s ease-in-out;

		z-index: 10;
	}

	.header__box.active {
		transform: translateX(0);
		pointer-events: auto;
		opacity: 1;
	}

	.header__box.active .header-mobile__footer {
		display: flex;
	}


	.header__nav {
		flex: none;
		margin-bottom: auto;
	}

	.header__nav::after {
		display: none;
	}


	.header__list {
		flex-direction: column;
	}

	.header__link {
		background: rgba(255, 130, 224, 0.2);
		color: var(--pink);
	}

	.header__button {
		margin-bottom: 20px;
	}

	.header-mobile__footer {
		margin: 0 -16px;
		background: var(--black);
		padding: 12px 0;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}


	.burger-menu {
		display: flex;
		background: var(--pink);
	}

	.burger-menu.active {
		background: var(--pink-light);
	}

	.burger-menu.active .burger-menu__line:nth-child(1) {
		transform: translateY(3px) rotate(45deg);
	}

	.burger-menu.active .burger-menu__line:nth-child(2) {
		transform: translateY(-6px) rotate(-45deg);
	}
}

/* JOIN */

.join__content {
	padding-top: clamp(1.25rem, 1.633vw + 0.867rem, 2.5rem);
	padding-bottom: 50px;
}

.join__title {
	margin: 0 auto 24px;
	max-width: 780px;
	font-weight: 600;
	font-size: clamp(2rem, 1.633vw + 1.617rem, 3.25rem);
	line-height: 100%;
	text-align: center;
	color: var(--black);
	text-wrap: balance;
}

.join__text {
	margin: 0 auto 32px;
}

.join__image {
	border-radius: clamp(2rem, 0.653vw + 1.847rem, 2.5rem);
	margin-bottom: 32px;
}

.join__list {
	display: flex;
	gap: clamp(0.688rem, 0.735vw + 0.515rem, 1.25rem);
	margin-bottom: 18px;
}

.join__item {
	background: var(--white);
	border-radius: 24px;
	padding: 16px 24px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.join__item-title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: clamp(1.75rem, 0.327vw + 1.673rem, 2rem);
	text-transform: capitalize;
	color: var(--pink);
}

.join__item-text {
	font-weight: 500;
	font-size: 16px;
	color: var(--black);
}


.attention {
	display: flex;
	align-items: center;
	background: var(--yellow);
	border-radius: 16px;
	padding: 8px 8px 8px 24px;
}

.attention__title {
	flex: 1;
	display: flex;
	align-items: center;
	font-style: italic;
	font-weight: 800;
	font-size: 40px;
	line-height: 130%;
	color: var(--black);
}

.attention__title::after {
	content: '';
	display: block;
	height: 2px;
	background-color: var(--black);
	width: 100%;
	margin: 0 40px;
}

.attention__box {
	max-width: 506px;
	padding: 12px;
	border-radius: 12px;
	background: var(--black);
}

.attention__text {
	font-weight: 500;
	font-size: clamp(0.875rem, 0.163vw + 0.837rem, 1rem);
	line-height: 130%;
	text-align: right;
	color: var(--white);
}


@media (max-width: 768px) {
	.join__list {
		margin-bottom: 31px;
		flex-direction: column;
	}

	.join__image {
		width: 100%;
	}

	.attention__title::after {
		display: none;
	}


	.attention {
		flex-direction: column;
		gap: 16px;
		padding: 8px;
	}

	.attention__box {
		max-width: none;
		width: 100%;
	}

	.attention__text {
		text-align: center;
	}

}

/* STEPS */

.steps__content {
	padding: 50px 0;
}

.steps__list {
	display: flex;
	gap: 20px;
}

.steps__item {
	flex: 1;
	border-radius: 32px;
	padding: 20px;
	background: rgba(253, 103, 214, 0.2);
	display: flex;
	flex-direction: column;
	min-height: 280px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.steps__item:hover {
	outline: none;
	background: var(--pink);
}

.steps__item:hover .steps__title,
.steps__item:hover .steps__text {
	color: var(--white);
}

.steps__count {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	border-radius: 40px;
	width: 64px;
	height: 36px;
	background: var(--white);
	font-weight: 500;
	font-size: 16px;
	text-transform: capitalize;
	text-align: center;
	color: var(--pink);
}

.steps__title {
	font-weight: 700;
	font-size: clamp(1.5rem, 0.327vw + 1.423rem, 1.75rem);
	text-transform: capitalize;
	color: var(--pink);
	text-wrap: balance;
	margin-top: auto;
	margin-bottom: 20px;
	transition: color 0.3s ease;
}

.steps__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: var(--pink);
	transition: color 0.3s ease;
}

.steps__text--bold {
	font-style: italic;
	font-weight: 800;
}

.steps__box {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

@media (max-width: 768px) {
	.steps__list {
		flex-direction: column;
	}

	.steps__item {
		min-height: auto;
	}

	.steps__title {
		margin-top: 0;
		margin-bottom: 22px;
	}
}

/* CHOOSE */


.choose__content {
	padding: 50px 0 100px;
}

.choose__title {
	font-weight: 600;
	font-size: clamp(2rem, 1.633vw + 1.617rem, 3.25rem);
	line-height: 100%;
	text-align: center;
	color: var(--black);
	margin-bottom: 40px;
}

.choose__table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 24px;
	overflow: hidden;
	table-layout: fixed;
}


.choose__table th:first-child {
	padding-left: 32px;
}

.choose__table th:nth-child(3) {
	padding-left: 10px;
}

.choose__table th:nth-child(4) {
	padding-left: 0;
}


.choose__table th {
	background: var(--pink-light);
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--white);
	text-align: left;
	padding: 28px 20px;

}

.choose__table tbody tr:nth-child(odd) {
	background: #f0f0f0;
}

.choose__table tbody tr:nth-child(even) {
	background: var(--white);
}

.choose__table-category,
.choose__item-title {
	font-size: 18px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.choose__table-category {
	padding-left: 32px;
	padding-top: 52px;
	padding-bottom: 52px;
	font-weight: 500;
	color: var(--pink);
}


.start-icon::before {
	content: '';
	background-image: url('../images/choose/start-icon.svg');
	width: 24px;
	height: 24px;
	background-size: cover;
	display: inline-block;
}

.growth-icon::before {
	content: '';
	background-image: url('../images/choose/growth-icon.svg');
	width: 24px;
	height: 24px;
	background-size: cover;
	display: inline-block;
}

.pro-icon::before {
	content: '';
	background-image: url('../images/choose/star-icon.svg');
	width: 24px;
	height: 24px;
	background-size: cover;
	display: inline-block;
}

.choose__table-text {
	font-weight: 600;
	font-size: 16px;
	color: var(--black);
}

.choose__table-text--pl20 {
	padding-left: 20px;
}

.choose__table-text--pl10 {
	padding-left: 10px;
}

.choose__table tbody tr td:last-child {
	padding-right: 32px;
}

.choose__list {
	display: none;
}

@media (max-width: 768px) {
	.choose__table {
		display: none;
	}

	.choose__list {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.choose__item {
		background: var(--white);
		border-radius: 20px;
	}

	.choose__item-header {
		border-radius: 20px 20px 0 0;
		padding: 24px 20px;
		background: var(--pink-light);
	}

	.choose__item-title {
		font-weight: 700;
		color: var(--white);
	}

	.start-icon::before {
		background-image: url('../images/choose/start-icon-white.svg');
	}

	.growth-icon::before {
		background-image: url('../images/choose/growth-icon-white.svg');
	}

	.pro-icon::before {
		background-image: url('../images/choose/star-icon-white.svg');
	}


	.choose__item-row {
		padding: 20px;
	}

	.choose__item-row:nth-child(odd) {
		background: #f0f0f0;
	}

	.choose__item-row:nth-child(3) {
		border-radius: 0 0 20px 20px;
	}

	.choose__item-label {
		font-family: var(--second-family);
		font-weight: 500;
		font-size: 16px;
		text-transform: uppercase;
		color: var(--pink-light);

		margin-bottom: 8.8px;
	}

	.choose__item-value {
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 20px;
		color: var(--black);
		min-height: 48px;
	}

}

/* LEADERS */

.leaders {
	background-color: #F0F0F0;
}

.leaders__content {
	padding: 60px 0;
}

.leaders__title {
	font-weight: 600;
	font-size: clamp(2rem, 1.633vw + 1.617rem, 3.25rem);
	line-height: 100%;
	text-align: center;
	color: var(--black);
	margin-bottom: 24px;
}

.leaders__text {
	margin: 0 auto clamp(2.438rem, 0.082vw + 2.418rem, 2.5rem);
}

.leaders__list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 40px;
	column-gap: 20px;
}

.leaders__item {
	display: flex;
	gap: 20px;
	flex: 1 1 calc((100% / 2) - 20px);
}

.leaders__item:is(:not(.leader--full))>.leader__image {
	max-width: 280px;
}

.leader--full {
	flex: 1 1 100%;
}

.leader__image {
	border-radius: 16px;
	max-width: none;
}

.leader__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: var(--white);
	border-radius: 16px;
	padding: 20px;
}

.leader__place {
	display: flex;
	align-items: center;
	gap: 12px;
	border-radius: 8px;
	padding: 8px;
	padding-right: 16px;
	margin-bottom: 16px;
}

.leader__place--first {
	border: 1px solid #e7b75f;
}

.leader__place--second {
	border: 1px solid #d8d8d8;
}

.leader__place--third {
	border: 1px solid #bf9165;
}

.leader__place-box {
	border-radius: 6px;
	padding: 7px;
}

.leader__place-box--first {
	background: #e7b75f;
}

.leader__place-box--second {
	background: #d8d8d8;
}

.leader__place-box--third {
	background: #bf9165;
}

.leader__place-number {
	font-family: var(--second-family);
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	color: var(--black);
}

.leader__header {
	display: flex;
	flex-direction: column;
	gap: 9px;
	margin-bottom: 18px;
}

.leader__name {
	font-weight: 600;
	font-size: 20px;
	color: var(--pink);
}

.leader__result {
	font-style: italic;
	font-weight: 700;
	font-size: clamp(1.75rem, 0.327vw + 1.673rem, 2rem);
	color: var(--pink);
}

.leader__description {
	margin-top: auto;
	font-weight: 400;
	font-size: clamp(1rem, 0.327vw + 0.923rem, 1.25rem);
	line-height: 140%;
	color: var(--black);
}

.leader__description--small {
	font-size: 16px;
}

@media (max-width: 1200px) {
	.leaders__list {
		flex-direction: column;
	}


	.leaders__item {
		flex-direction: column;
		gap: 8px;
		align-items: center;
	}

	.leaders__item:is(:not(.leader--full)) .leader__header {
		margin-bottom: 32px;
	}

	.leaders__item:nth-child(3) {
		margin-top: -22px;
	}


	.leader__content {
		min-height: 326px;
	}

	.leader__image {
		max-width: 100%;
	}
}

@media (max-width: 440px) {
	.leaders__item {
		align-items: stretch;
	}

	.leader__image {
		width: 100%;
	}
}

/* PROTECT */


.protect__content {
	padding: 100px 0;
}

.protect__title {
	margin: 0 auto 48px;
	font-weight: 600;
	font-size: clamp(2rem, 1.633vw + 1.617rem, 3.25rem);
	line-height: 110%;
	text-transform: capitalize;
	text-align: center;
	color: var(--black);
}

.protect__list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.protect__item {
	flex: 1;
	min-height: clamp(10.375rem, 4.408vw + 9.342rem, 13.75rem);
	min-width: 220px;
	border-radius: 32px;
	padding: 20px;
	background: rgba(253, 103, 214, 0.2);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.protect__icon {
	background: var(--white);
	border-radius: 40px;
	padding: 6px 20px;
	margin-bottom: auto;

}

.protect__label {
	font-weight: 700;
	font-size: 24px;
	text-transform: capitalize;
	color: var(--pink);
}

@media (max-width: 576px) {
	.protect__icon {
		margin-bottom: 34px;
	}
}

/* FEEDBACK */

.feedback {
	background-image: url('../images/feedback/bg.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.feedback__content {
	padding: clamp(2.5rem, 3.265vw + 1.735rem, 5rem) clamp(0rem, 4.808vw - 2.308rem, 2.5rem) clamp(2.5rem, 4.082vw + 1.543rem, 5.625rem);
	display: flex;
	align-items: center;
	gap: 60px;
}

.feedback__left {
	max-width: clamp(21.438rem, 26.082vw + 8.918rem, 35rem);
	margin-top: 46px;
}

.feedback__title {
	font-weight: 700;
	font-size: clamp(2rem, 1.306vw + 1.694rem, 3rem);
	line-height: 110%;
	text-transform: capitalize;
	color: var(--white);
	margin-bottom: clamp(1.25rem, 1.633vw + 0.867rem, 2.5rem);
}

.feedback__title-pink {
	color: var(--pink-light);
}


.feedback__text {
	font-weight: 500;
	font-size: clamp(1rem, 0.163vw + 0.962rem, 1.125rem);
	line-height: 140%;
	color: var(--white);
	max-width: 453px;
}

.feedback__form {
	background: var(--white);
	border-radius: 20px;
	padding: 40px clamp(1.25rem, 1.633vw + 0.867rem, 2.5rem);
	flex: 1;
}

.feedback__inputs {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 32px;
}

.feedback__input {
	border: 1px solid rgba(17, 17, 17, 0.1);
	border-radius: 8px;
	padding: 17px 16px;
}

.feedback__input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: rgba(17, 17, 17, 0.3);
}

.feedback__button {
	width: 100%;
}

@media (max-width: 768px) {

	.feedback {
		background-image: url('../images/feedback/bg-mobile.webp');
	}

	.feedback__content {
		align-items: flex-start;
		flex-direction: column;
		gap: 60px;
	}

	.feedback__form {
		align-items: stretch;
		max-width: none;
		width: 100%;
	}

	.feedback__left {
		margin-top: 0;
	}

	.feedback__inputs {
		gap: 10px;
	}
}

/* footer */

.footer {
	background: var(--black);
	margin-top: -1px;
}

.footer__content {
	padding: 16px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__copyright {
	font-weight: 400;
	font-size: 16px;
	text-transform: capitalize;
	color: var(--white);
	opacity: 0.5;
}

@media (max-width: 440px) {

	.footer__content {
		padding: 12px 0;
		flex-direction: column;
		gap: 8px;
		justify-content: center;
	}
}