.header {
	background: var(--white);
}

.header__wrapper {
	display: flex;
	align-items: center;
	padding: 22px 0;
}

.logo {
	margin-right: 32px;
}

.header__nav {
	flex: 1;
	display: flex;
	align-items: center;
}

.header__nav::after {
	content: '';
	display: block;
	height: 2px;
	background-color: #dadada;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
}

.header__list {
	display: flex;
	flex: 1 0 auto;
	gap: 8px;
}

.header__link {
	border-radius: 12px;
	padding: 16px 20px;
	font-weight: 500;
	font-size: 18px;
	color: var(--black);
	transition: background 0.3s, color 0.3s;
}

@media (hover: hover) {
	.header__link:hover {
		background: rgba(255, 130, 224, 0.2);
		color: var(--pink);
	}
}
