.header {
	background: var(--white);
}

.header__wrapper {
	display: flex;
	align-items: center;
	padding: clamp(1.25rem, 0.163vw + 1.212rem, 1.375rem) 0;
}

.logo {
	margin-right: 32px;
}

.header__box {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.header__nav {
	flex: 1;
	display: flex;
	align-items: center;
}

.header__nav::after {
	content: '';
	display: block;
	height: 2px;
	background-color: #dadada;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
}

.header__list {
	display: flex;
	flex: 1 0 auto;
	gap: 8px;
}

.header__link {
	display: block;
	border-radius: 12px;
	padding: 16px 20px;
	font-weight: 500;
	font-size: 18px;
	color: var(--black);
	transition: background 0.3s, color 0.3s;
}

.burger-menu {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 7px;
	width: 48px;
	height: 48px;

	border-radius: 8px;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin-left: auto;
}

.burger-menu__line {
	border-radius: 50%;
	width: 18px;
	height: 2px;
	background-color: var(--white);
	transition: transform 0.3s, opacity 0.3s;
}

@media (hover: hover) {
	.header__link:hover {
		background: rgba(255, 130, 224, 0.2);
		color: var(--pink);
	}
}

.header-mobile__footer {
	display: none;
}


.header-mobile__footer-copyright {
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	text-transform: capitalize;
	color: var(--white);
	opacity: 0.5;
}


@media (max-width: 768px) {

	.header__box {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		position: absolute;
		width: 100%;
		padding: 20px 16px 0;
		min-height: calc(100dvh - 89px);
		left: 0;
		top: 90px;
		background: #F0F0F0;

		transform: translateX(-100%);
		transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

		pointer-events: none;
		opacity: 0;
		transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
			opacity 0.3s ease-in-out;

		z-index: 10;
	}

	.header__box.active {
		transform: translateX(0);
		pointer-events: auto;
		opacity: 1;
	}

	.header__box.active .header-mobile__footer {
		display: flex;
	}


	.header__nav {
		flex: none;
		margin-bottom: auto;
	}

	.header__nav::after {
		display: none;
	}


	.header__list {
		flex-direction: column;
	}

	.header__link {
		background: rgba(255, 130, 224, 0.2);
		color: var(--pink);
	}

	.header__button {
		margin-bottom: 20px;
	}

	.header-mobile__footer {
		margin: 0 -16px;
		background: var(--black);
		padding: 12px 0;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}


	.burger-menu {
		display: flex;
		background: var(--pink);
	}

	.burger-menu.active {
		background: var(--pink-light);
	}

	.burger-menu.active .burger-menu__line:nth-child(1) {
		transform: translateY(3px) rotate(45deg);
	}

	.burger-menu.active .burger-menu__line:nth-child(2) {
		transform: translateY(-6px) rotate(-45deg);
	}
}