.join__content {
	padding-top: clamp(1.25rem, 1.633vw + 0.867rem, 2.5rem);
	padding-bottom: 100px;
}

.join__title {
	margin: 0 auto 24px;
	max-width: 780px;
	font-weight: 600;
	font-size: clamp(2rem, 1.633vw + 1.617rem, 3.25rem);
	line-height: 100%;
	text-align: center;
	color: var(--black);
	text-wrap: balance;
}

.join__title--purple {
	color: var(--pink);
}

.join__text {
	max-width: clamp(21.438rem, 19.347vw + 16.903rem, 36.25rem);
	margin: 0 auto 32px;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: var(--black);
}

.join__image {
	border-radius: clamp(2rem, 0.653vw + 1.847rem, 2.5rem);
	margin-bottom: 32px;
}

.join__list {
	display: flex;
	gap: clamp(0.688rem, 0.735vw + 0.515rem, 1.25rem);
	margin-bottom: 18px;
}

.join__item {
	background: var(--white);
	border-radius: 24px;
	padding: 16px 24px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.join__item-title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: clamp(1.75rem, 0.327vw + 1.673rem, 2rem);
	text-transform: capitalize;
	color: var(--pink);
}

.join__item-text {
	font-weight: 500;
	font-size: 16px;
	color: var(--black);
}


.attention {
	display: flex;
	align-items: center;
	background: var(--yellow);
	border-radius: 16px;
	padding: 8px 8px 8px 24px;
}

.attention__title {
	flex: 1;
	display: flex;
	align-items: center;
	font-style: italic;
	font-weight: 800;
	font-size: 40px;
	line-height: 130%;
	color: var(--black);
}

.attention__title::after {
	content: '';
	display: block;
	height: 2px;
	background-color: var(--black);
	width: 100%;
	margin: 0 40px;
}

.attention__box {
	max-width: 506px;
	padding: 12px;
	border-radius: 12px;
	background: var(--black);
}

.attention__text {
	font-weight: 500;
	font-size: clamp(0.875rem, 0.163vw + 0.837rem, 1rem);
	line-height: 130%;
	text-align: right;
	color: var(--white);
}


@media (max-width: 768px) {
	.join__list {
		margin-bottom: 31px;
		flex-direction: column;
	}

	.attention__title::after {
		display: none;
	}


	.attention {
		flex-direction: column;
		gap: 16px;
		padding: 8px;
	}

	.attention__box {
		max-width: none;
		width: 100%;
	}

	.attention__text {
		text-align: center;
	}
}